# Operating System files
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.out
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/
bower_components/
vendor/
venv/
.venv/
.env
.env.local
.env.*.local
config.env

# Python
*.pyc
*.pyo
__pycache__/
*.sqlite3

# Flask/Django
instance/
*.db
*.sqlite3
*.py[cod]
*.so

# FastAPI
*.cache

# Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
target/
out/
.idea/

# TypeScript
*.tsbuildinfo

# Build outputs
dist/
build/
.next/
.nuxt/
.out/
.cache/
tmp/
temp/
coverage/
*.rbc
*.o
*.obj
*.exe
*.dll
*.dylib
*.so
*.lib
*.a
*.la
*.lo
*.rej
*.idb
*.pdb

# Editors and IDEs
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
*.vscode/

# GitHub Actions and CI/CD
.github/workflows/*.log
!/.github/workflows/

# Miscellaneous
*.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
.npmrc
.npm/
.babelrc
.eslintcache
.prettierignore
.prettiercache
.husky/
.lintstagedrc
stylelint.config.js
tsconfig.json
.editorconfig
